/*top*/    
#DB_etc38{position: absolute;right:20px;bottom:195px;margin-top:-100px; z-index:9999;}
#DB_etc38 .btn{position:relative;z-index:9999;}
#DB_etc38 .btn a{display:block;width:54px;height:54px;text-indent:-9999px;}
#DB_etc38 .btn a.up{background:url("../img/top.png") no-repeat;}
 

/*wrap*/ 
#wrap{width:100%; position:relative; overflow:hidden; margin: 0 auto;}


/*main*/  
#main {width: 100%; height: 970px; position:relative; margin:0 auto;  background:#02071a url(../img/aurora-borealis-g9af83c5d8_1920.jpg) no-repeat center; overflow:hidden;}
#main>.container01{width:1300px;  position:relative; margin:0 auto;}
#main>.container01>h1{position: absolute; top:34px;  left:0px;}
#main>.container01>span{position: absolute; top:40px;  right:0px;}
#main>.container01>.text1{position: absolute; top:250px;  right:0px;}
#main>.container01>.scrolldown
  {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 1px;
      height: 100px;
      background: transparent;
  }   

#main>.container01>.scrolldown:before
{
    content: '';
    position: absolute;
    top: 900px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #fff, transparent);
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform-origin: top;
        transform: scaleY(0);
    }
    50%
    {
        transform-origin: top;
        transform: scaleY(1);
    }
    51%
    {
        transform-origin: bottom;
        transform: scaleY(1);
    }
    100%
    {
        transform-origin: bottom;
        transform: scaleY(0);
    }
} 


      /*portfolio 1*/
      #portbox1{width:100%; height: 946px; background:rgb(224, 224, 224); position: relative; margin:0 auto; }
      #portbox1>.wrap1{position: relative; width:1300px; height: 946px; margin:0 auto; }
      #portbox1>.wrap1>.pbox1{margin:0 auto; }
      #portbox1>.wrap1>.text2{position:absolute; top:120px; left: 388px;}
      #portbox1>.wrap1>.text2_bg{position: absolute; top:0px; left: 289px;}
      #portbox1>.wrap1>.spacle1{position: absolute; top:191px; left: -91px;}
      #portbox1>.wrap1>.pbox1>.left{width: 398px; height: 452px; position: absolute; top:312px;left: 0px;}
      #portbox1>.wrap1>.pbox1>.center{width: 398px; height: 452px; position: absolute; top:312px; left: 451px;}
      #portbox1>.wrap1>.pbox1>.right{width: 398px; height: 452px; position: absolute; top:312px; left: 901px;}
      #portbox1>.wrap1>.pbox1>.left>.subtext1{width: 398px; height: 14px; position: absolute; top:-28px; left: 0px; }
      #portbox1>.wrap1>.pbox1>.center>.subtext2{width: 398px; height: 14px; position: absolute; top:-28px; left: 0px; }
      #portbox1>.wrap1>.pbox1>.right>.subtext3{width: 398px; height: 14px; position: absolute; top:-28px; left: 0px; }
      #portbox1>.wrap1>.pbox1>.left>.bt01{width: 190px; height: 42px; position: absolute; top:472px; left: 0px;}
      #portbox1>.wrap1>.pbox1>.left>.bt02{width: 190px; height: 42px; position: absolute; top:472px; left: 209px;}
      #portbox1>.wrap1>.pbox1>.center>.bt01{width: 190px; height: 42px; position: absolute; top:472px; left: 0px;}
      #portbox1>.wrap1>.pbox1>.center>.bt02{width: 190px; height: 42px; position: absolute; top:472px; left: 209px;}
      #portbox1>.wrap1>.pbox1>.right>.bt01{width: 190px; height: 42px; position: absolute; top:472px; left: 0px;}
      #portbox1>.wrap1>.pbox1>.right>.bt02{width: 190px; height: 42px; position: absolute; top:472px; left: 209px;}


      /*portfolio 2*/
      #portbox2{width:100%; height: 1134px; background:#070d23; position: relative;margin:0 auto;}
      #portbox2>.wrap2{position: relative; width:1300px; height: 1134px; margin:0 auto; }
      #portbox2>.wrap2>.pbox2{margin:0 auto;}
      #portbox2>.wrap2>.text3{position: absolute; top:120px; left: 340px;}
      #portbox2>.wrap2>.text3_bg{position: absolute; top:0px; left: 6px;}
      #portbox2>.wrap2>.pbox2>.box2_1,.box2_2,.box2_3{list-style: none; position: absolute; top:284px; z-index: 5; font-weight:200; color:white; }
      #portbox2>.wrap2>.pbox3>.box2_4,.box2_6{list-style: none; position: absolute; top:647px; z-index: 5; font-weight:200; color:white; }
      #portbox2>.wrap2>.pbox3>.box2_5{list-style: none; position: absolute; top:753px; z-index: 5; font-weight:200; color:white; }
      #portbox2>.wrap2>.pbox2>.box2_1{width: 398px; height: 310px; left: 0px;}
      #portbox2>.wrap2>.pbox2>.box2_2{width: 398px; height: 416px; left: 451px;}
      #portbox2>.wrap2>.pbox2>.box2_3{width: 398px; height: 310px; left: 901px;}
      #portbox2>.wrap2>.pbox3>.box2_4{width: 398px; height: 310px; left: 0px;}
      #portbox2>.wrap2>.pbox3>.box2_5{width: 398px; height: 416px; left: 451px;}
      #portbox2>.wrap2>.pbox3>.box2_6{width: 398px; height: 310px; left: 901px;}


      /*portfolio 3*/
      #portbox3{width:100%; height:100%; background: #ffcd6a; position: relative;}
      #portbox3>.wrap3{width:1300px; height:1060px; margin:0 auto;position: relative; }
      #portbox3>.wrap3>.pbox4{margin:0 auto;}
      #portbox3>.wrap3>.text4{position: absolute; top:120px; left: 408px;}
      #portbox3>.wrap3>.text4_bg{position: absolute; top:0px; left: 116px;}

      #DB_tab41{position:relative;width:1300px;margin:0 auto;height:500px;top:282px; left:0px;}
      #DB_tab41 .mask{position:relative;width:1300px;margin:0 auto;height:593px;overflow:hidden;}
      #DB_tab41 .img{position:absolute;}
      #DB_tab41 .img li{float:left;width:304px;margin-right:28px;}
      #DB_tab41 .btn{position:absolute;left:0;width:100%; bottom:-160px;text-align:center;}
      #DB_tab41 .btn li{display:inline-block;width:22px;height:22px;border-radius:50%;background:#ccc;margin:0 8px;text-indent:-9999px;cursor:pointer}
      #DB_tab41 .btn li.on{background:#fff;}
      #DB_tab41 .prev{position:absolute;left:-80px;top:50%;cursor:pointer}
      #DB_tab41 .next{position:absolute;right:-80px;top:50%;cursor:pointer}


      /*portfolio 4*/
      #portbox4{width:100%; height:490px; position: relative; background:#070d23/*#ffcd6a*/; margin:0 auto; }
      #portbox4>.wrap4{position: relative; width:1300px; height:490px; margin:0 auto;}
      #portbox4>.wrap4>.pbox5{margin:0 auto;}
      #portbox4>.wrap4>.text5{position: absolute; top:120px; left: 505px;z-index: 9;}
      #portbox4>.wrap4>.text5_bg{position: absolute; top:0px; left: -310px;}
      #portbox4>.wrap4>.pbox5>.bg6{position: absolute; }
      #portbox4>.wrap4>.pbox5>.img4{position: absolute; top:262px; left: 0px; z-index: 9;}
      #portbox4>.wrap4>.spacle {position: absolute; top:0px; left: -310px; z-index: 10;}


     /*footer*/
     #footer{width:100%; height: 267px; background:#070d23; position: relative; margin:0 auto;}
     #footer>.wrap5{position: relative; width:1300px; height:267px;  margin:0 auto;}
     #footer>.wrap5 span{position: absolute; top:205px; left: 474px; }


